/*-- scss:defaults --*/

// Colors
$light-sage-green: #D1D9CE;


// Base document colors
$link-color: $light-sage-green; // hyperlinks 

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
$headings-font-family:        Raleway;
$navbar-font-family:         Raleway;